body {
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
}

.jumbotron p {
    font-size: 1.5em;
}

.card h4 {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    padding: 10px;
}

table {
    table-layout: fixed;
  }